<a href="https://colab.research.google.com/github/surajkr214/Programming-For-Data-Science/blob/main/CN5021_DS_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QN.1 ..Data Types and Conditional Statements**

In [ ]:
# type() function
type(4)

int

In [ ]:
type(5.0)

float

In [ ]:
type("Hello")

str

# **Strings**

In [ ]:
"Hello" + " " + "World"

'Hello World'

In [ ]:
name = "CN5021"
"Hello" + " " + name

'Hello CN5021'

In [ ]:
"Hello World".upper()

'HELLO WORLD'

In [ ]:
#  changes the type to Strings

"1"

'1'

In [ ]:
type("1")

str

In [ ]:
"Hello" + 5021

TypeError: can only concatenate str (not "int") to str

In [ ]:
"Hello " + str(5021)

'Hello 5021'

In [ ]:
# Using the length function len()
# concatenating using the * sign

len("Hello CN5021")

12

In [ ]:
text = "Hello"
module = "CN5021"

(text + module) * 10

'HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021HelloCN5021'

In [ ]:
(text + module + " ") * 10

'HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 HelloCN5021 '

In [ ]:
# Using built-in function .upper()
# Length calculation of concatenated text

len((text + module + " ") * 10)

120

In [ ]:
((text + module + " ") * 10).upper()

'HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 HELLOCN5021 '

# **Booleans**

In [ ]:
True

True

In [ ]:
type(true)

NameError: name 'true' is not defined

In [ ]:
# Testing for Equality

0 == 1

False

In [ ]:
1 == 1

True

In [ ]:
5 > 4

True

In [ ]:
0.5 < 1

True

In [ ]:
5 >= 3

True

In [ ]:
"Text"=="text"

False

In [ ]:
# Testing for Containment using 'in' & 'not in'

"N" in "CN5021"

True

In [ ]:
"A" not in "CN5021"

True

In [ ]:
# Booleans for making choices: Conditional Statements

if 10 > 5:
    print("Ten is greater than five")

Ten is greater than five

In [ ]:
if "log" in "logbook":
    print("Log found")

Log found

**Conditional Statements**

In [ ]:
# Conditional Statements

age = 19
if age >= 18:
    print("You are old enough to apply for a driver's license")
else:
    print("You are cannot apply for a driver's license")

You are old enough to apply for a driver's license

In [ ]:
# Using the 'and' keyword to combine boolean expressions.

x = 10
if x > 5 and x < 15:
    print("The number is between 5 and 15")

The number is between 5 and 15

In [ ]:
age = 19
theory_test = "passed"
if age >= 18 and theory_test == "passed":
    print("You can apply for a practical test for the driver's license")
else:
    print("You cannot apply for the practical test")

You can apply for a practical test for the driver's license

In [ ]:
# Using the ‘or’ keyword to combine boolean expressions.

if "log" in "logbook" or "book" in "booklog":
    print("word found")
else:
    print("word not found")

word found

In [ ]:
time_hour = 11
if time_hour < 9 or time_hour > 17:
    print("It is not within office hours")
else:
    print("It is within office hours")

It is within office hours

In [ ]:
"""
Consider a light bulb which changes
colour based on the indoor room
temperature.
• Temperature less than 16: Blue
• Temperature greater than 16 but less than 20:
Green
• Temperature greater than 20 but less than 24:
Yellow
• Temperature greater than 24: Red
"""

room_temperature = 14
if room_temperature < 16:
    print("The room is too cold")
    print("Blue")
elif room_temperature >= 16 and room_temperature < 20:
    print("The room temperature is ideal")
    print("Green")
elif room_temperature >= 20 and room_temperature < 24:
    print("The room is warm")
    print("Yellow")
else:
    print("The room is too warm")
    print("Red")

The room is too cold
Blue

# **Iterations & Loops**

In [ ]:
# FOR LOOP

for i in [5,4,3,2,1]:
    print ("The number is: ", i)
print ('Out of Loop!')

The number is:  5
The number is:  4
The number is:  3
The number is:  2
The number is:  1
Out of Loop!

In [ ]:
# Range in For Loop

for x in range(5):
    print("X: ", x)

X:  0
X:  1
X:  2
X:  3
X:  4

In [ ]:
for x in range(3, 6):
    print("X: ", x)

X:  3
X:  4
X:  5

In [ ]:
for x in range(3, 8, 2):
    print("X: ", x)

X:  3
X:  5
X:  7

In [ ]:
Friends = ["Amy", "Julie", "Ali", "Dan"]
for x in Friends:
    print("Happy New Year ", x)
print("Done with loops")

Happy New Year  Amy
Happy New Year  Julie
Happy New Year  Ali
Happy New Year  Dan
Done with loops

In [ ]:
# WHILE LOOP

total = 10
while(total >= 0):         # Loop Condition
    print("value of variable is: ", total) # Loop statements
    total = total - 1;
print("Out of Loop")       # Statements not in the loop

value of variable is:  10
value of variable is:  9
value of variable is:  8
value of variable is:  7
value of variable is:  6
value of variable is:  5
value of variable is:  4
value of variable is:  3
value of variable is:  2
value of variable is:  1
value of variable is:  0
Out of Loop

# Indefinite WHILE LOOP

total = 10
while(total >= 0):
    print("value of variable is: ", total)

print("Out of Loop")

In [ ]:
# Interactive While Loop

mySum = 0
myCount = 0;

while (True):
    newInput = float(input("Enter number: "))
    myCount = myCount+1;
    mySum = mySum + newInput;
    con_ask=input ("Do you want to continue entering a number? (Y/N)")
    if (con_ask =="Y" or con_ask =='y'):
        continue;
    else:
        break;

print("Total values enetered are: ", myCount)
print("Sum is: ", mySum);
print("Average is: ", mySum/myCount);

Enter number: 5
Do you want to continue entering a number? (Y/N)Y
Enter number: 2
Do you want to continue entering a number? (Y/N)N
Total values enetered are:  2
Sum is:  7.0
Average is:  3.5

In [ ]:
# Nested Loops

for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [3]:
# NESTED LOOPS

days = ["Sunday", "Monday", "Tuesday"]
Sunday_temp = [10,11,13]
Monday_temp = [11,12,13]
Tuesday_temp = [12,13,14]

for day in days:
    print("Temp for day ", day, "is recorded as:")
    averageTemp = 0.0;
    count = 0.0;

    if (day =="Sunday"):
        for temp in Sunday_temp:
            print(temp)
            averageTemp = averageTemp + temp;
            count = count + 1;
    elif (day =="Monday"):
        for temp in Monday_temp:
            print(temp)
            averageTemp = averageTemp + temp;
            count = count + 1;
    else:
        for temp in Tuesday_temp:
            print(temp)
            averageTemp = averageTemp + temp;
            count = count + 1;

    print("Average is :", averageTemp/count)

print("Out of all loops")

Temp for day  Sunday is recorded as:
10
11
13
Average is : 11.333333333333334
Temp for day  Monday is recorded as:
11
12
13
Average is : 12.0
Temp for day  Tuesday is recorded as:
12
13
14
Average is : 13.0
Out of all loops

# **QN.2**

In [4]:
'''Question 2Write, compile, and test a Python program that declares variables to represent the lengthand width of a
 room in metres, and the price of carpeting per square metre in poundsterling. Assign appropriate values to the variables.
 Compute and display, withexplanatory text, the cost of carpeting the room.'''

 # --- Carpet Cost Calculator ---

# 1. Declare and assign values to variables
length_metres = 5.5  # Length of the room in metres
width_metres = 4.0   # Width of the room in metres
price_per_sq_metre = 15.50  # Price of carpet in pounds per square metre

# 2. Compute the area of the room
area = length_metres * width_metres

# 3. Compute the total cost
total_cost = area * price_per_sq_metre

# 4. Display the results with explanatory text
print("--- Room and Carpet Details ---")
print(f"Room Length: {length_metres} metres")
print(f"Room Width: {width_metres} metres")
print(f"Room Area: {area} square metres")
print(f"Carpet Price per Square Metre: £{price_per_sq_metre:.2f}")
print("---------------------------------")
print(f"Total cost to carpet the room: £{total_cost:.2f}")

--- Room and Carpet Details ---
Room Length: 5.5 metres
Room Width: 4.0 metres
Room Area: 22.0 square metres
Carpet Price per Square Metre: £15.50
---------------------------------
Total cost to carpet the room: £341.00

# **QN.3**

In [8]:
'''Question 3, Write, compile, and test a program that prompts the user for a five-character password,accepts five characters,
and then echoes the characters to the screen. Test all fivecharacters. If the characters spell F R A M E, then issue a message
that the password isvalid; otherwise issue a message that the password is not valid.'''

# --- Password Checker ---

# 1. Prompt the user for a password and store their input
user_password = input("Please enter the five-character password: ")

# 2. Check if the entered password matches "FRAME"
# We use .upper() to make the check case-insensitive (so "frame" also works)
if user_password.upper() == "FRAME":
    # 3. If it matches, print a "valid" message
    print("\nAccess Granted: The password is valid.")
else:
    # 4. If it does not match, print a "not valid" message
    print("\nAccess Denied: The password is not valid.")

Please enter the five-character password: ,jfvh

Access Denied: The password is not valid.

# **QN.4**

In [10]:
'''Question 4
Write, compile, and test a program that stores two integers and allows the user to enter acharacter.If the character
 is A, add the two integers. If it is S, subtract the second integer from thefirst; if it is M, multiply the integers.
  Display the results of the arithmetic. If the user entersthe character X, exit the program.'''

  # --- Simple Calculator ---

# 1. Store two integers in variables
num1 = 20
num2 = 5

print(f"The program has two numbers stored: {num1} and {num2}.")
print("Enter 'A' to add, 'S' to subtract, 'M' to multiply, or 'X' to exit.")

# 2. Create an infinite loop that runs until the user chooses to exit
while True:
    # 3. Prompt the user for a character
    user_choice = input("\nPlease enter your choice (A, S, M, X): ")

    # 4. Check the user's choice and perform the corresponding action
    # We use .upper() to accept lowercase letters (a, s, m, x) as well
    if user_choice.upper() == 'A':
        result = num1 + num2
        print(f"Result of Addition ({num1} + {num2}) is: {result}")
    elif user_choice.upper() == 'S':
        result = num1 - num2
        print(f"Result of Subtraction ({num1} - {num2}) is: {result}")
    elif user_choice.upper() == 'M':
        result = num1 * num2
        print(f"Result of Multiplication ({num1} * {num2}) is: {result}")
    elif user_choice.upper() == 'X':
        print("Exiting the program. Goodbye!")
        break  # This command breaks out of the while loop
    else:
        # Handle cases where the input is not one of the valid options
        print("Invalid character entered. Please try again.")

The program has two numbers stored: 20 and 5.
Enter 'A' to add, 'S' to subtract, 'M' to multiply, or 'X' to exit.

Please enter your choice (A, S, M, X): S
Result of Subtraction (20 - 5) is: 15

Please enter your choice (A, S, M, X): X
Exiting the program. Goodbye!